






* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.div {
  position: relative;
  max-width: 60%;
  margin: 50% auto;
  text-align: center;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
p{
  text-align: center;
}
h4{
  text-align: center;
}
button{
  text-align: center;
}
h1{
  text-align: center;
}
.amge{
  margin-left: 40%;
  height: auto;
  width: 20%;
}
/* .di{
  border: black
  solid;

} */
#put{
  margin-left: 40%;
}