body{
  background-color: #e7e0c962;
  text-align: center;

  
}

 
  #main {
      font-family: Consolas, sans-serif;
      
      height: 100vh;
      text-align: center;
    
    }
    .img {
      
      transition: transform .2s;
      height: 300px;
      width: 400px;
      padding: 10px;
      border-radius: 50px 30px; 
  
    }
    .img:hover {
      -ms-transform: scale(1.2); 
      -webkit-transform: scale(1.2); 
      transform: scale(1.1);
      margin-top:3px; 
    }
  
   
    .btn {
      -webkit-border-radius: 14;
      -moz-border-radius: 14;
      border-radius: 14px;
      font-family: Arial;
      color: #ffffff;
      font-size: 17px;
      background: #11324D;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      padding: 11px;
      margin: 10px;
    }
    
    .btn:hover {
      background: #6B7AA1;
      text-decoration: none;
    }
#h2{
   color:#6B7AA1
}
  @media only screen and (max-width: 900px) {
    
    #Home {
        grid-template-columns: 1fr ;
        background-color: #e6e8e9;

    }
  }
  