body {
    margin: 0;
    font-family: 'El Messiri', sans-serif;  }
  
  .to {
    overflow: hidden;
    background-color: #faec2d;
  }
  
  .to a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .to a:hover {
    background-color: rgb(245, 235, 235);
    color: #18170f;
  }
  
  .to a.active {
    background-color: #04AA6D;
    color: white;
  }
  li{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


  }