body {
  margin: 0;
  font-family: 'El Messiri', sans-serif;  }

.topnav {
  overflow: hidden;
  background-color: rgba(201, 198, 192, 0.836);
}

.topnav a {
  float: left;
  color: #3d3c3c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #797875;
}

.topnav a.active {
  background-color: #f3cbe4;
  color: white;
}