
* {
  box-sizing: border-box;
  
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #353434;
  width: 100%;
  padding: 20px;
  border-radius: 20px 30px;
  border-color: rgb(2, 245, 55);
}
