
.Bags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  }

  .imgBag {
    width: 30%;
    height: 50px;
    margin-top: 25px;
    border-radius: 100%; 
  
  }
  .Bag {
    border: rgb(233, 129, 129) solid;
    width: 28%;
    border: 1px solid black;
    margin-top: 30px;
    transition: 1s;
   
  }